<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Managment_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Managment_Tool.Properties.Settings.StatusKonstrukcjiDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\StatusKonstrukcjiDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Managment_Tool.Properties.Settings>
            <setting name="freeForDetailing_colour" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="inSimWork_colour" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="readyToCheckInSim_colour" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="waitingForDesignNextLoop_colour" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="LH" serializeAs="String">
                <value>Z:\40\13\01</value>
            </setting>
            <setting name="RH" serializeAs="String">
                <value>Z:\40\13\02</value>
            </setting>
            <setting name="lastOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="designChecked" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="notPredicterd" serializeAs="String">
                <value>255, 192, 255</value>
            </setting>
        </Managment_Tool.Properties.Settings>
    </userSettings>
</configuration>